body{
    background-color: blueviolet;
    text-align: center !important;
}

.jumbotron{
    position: relative;
    padding:0 !important;
    margin-top:70px !important;
    background-color: rebeccapurple;
    margin-top: 23px;
    text-align:center;
    margin-bottom: 0 !important;
    font-family: 'Fira Sans', sans-serif !important;
    font-size: xx-large !important; 
}
.container-fluid{
        padding:0 !important;
        position: inherit  !important;
}
.col{
    padding: 0 !Important;
    position: inherit !important
}

h1 {
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: black;
    margin-top: 0;
    border: 2 px orange;
    font-size: large;
    color: darkcyan;
    font-family: 'Fira Sans', sans-serif;
}

h3{
    text-align: center;
    font-size: medium;
    color: deepskyblue;
    font-family: 'Varela Round', sans-serif;
}

.btn{
    padding: 0;
}
.btn img {
    float: right;
    position: center;
    padding: 0;
    height: 8rem;
    width: 8rem;
    border: 2px green;
    background: transparent;
}

.container{
    position: center;
    font-family: 'Varela Round', sans-serif;
    margin: 50px;
    font-size: x-large;

}