body{
    background-color: blueviolet;
}

h1 {
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: black;
    margin-top: 0;
    border: 2 px orange;
    font-size: large;
    color: darkcyan;
}

h3{
    text-align: center;
    font-size: medium;
    color: deepskyblue;
}

.btn{
    padding: 0;
}
.btn img {
    float: right;
    position: center;
    padding: 0;
    height: 10rem;
    width: 8rem;
    border: 2px green;
    background: transparent;



}